<div *ngIf="isLoading && !error" class="loading-message">
  <div class="loader">loading...</div>
</div>
<div class="users-container">
    <div class="user-card" *ngFor="let manager of managers">
      <div class="profile-pic-admin-view-user" [style.backgroundImage]="getProfileImage(manager)"></div>
  
      <!-- Info section -->
      <div class="info">
        <h3>{{ manager.name }}</h3>
        <p><strong>Email:</strong> {{ manager.email }}</p>
        <p><strong>Phone:</strong> {{ manager.phone }}</p>
        <p *ngIf="manager.address"><strong>Address:</strong> {{ manager.address }}</p>
        <p><strong>Role:</strong> {{ manager.role }}</p>
        <button class="view-loans-btn" (click)="openLoanModal(manager)">View Loans</button>
      </div>
    </div>
  </div>
  
  <!-- Modal Backdrop -->
  <div class="modal-backdrop" *ngIf="isModalOpen"></div>
  <div class="modal-window" *ngIf="isModalOpen">
    <div class="modal-content">
      <button class="close-btn" (click)="closeLoanModal()">X</button>
      <h2 class="loans-user-name">Loans for {{ selectedManager?.name }}</h2>
      <ng-container *ngIf="selectedManager && selectedManager.managedLoans && selectedManager.managedLoans.length > 0; else noLoans">
        <div class="loan-item" *ngFor="let loan of selectedManager.managedLoans">
          <p><strong><hr></strong></p>
          <p><strong>Purpose:</strong> {{ loan.purpose }}</p>
          <p><strong>Loan Amount:</strong> {{ loan.loanAmount }}</p>
          <p><strong>Status:</strong> {{ loan.status }}</p>
          <p><strong>Approver:</strong> {{ loan.approverName }}</p>
          <p><strong>Due Date:</strong> {{ loan.dueDate | date:'dd-MM-yyyy' }}</p>
          <p><strong>EMI Amount:</strong> {{ loan.emiAmount }}</p>
          <p><strong>Interest Rate:</strong> {{ loan.interestRatePerAnnum }}%</p>
          <p><strong>Loan Variant:</strong> {{ loan.loanVarient }}</p>
          <p><strong>Tenure:</strong> {{ loan.tenure }}</p>
        </div>
      </ng-container>
      <ng-template #noLoans>
        <p class="loan-item">No loans available.</p>
      </ng-template>
    </div>
  </div>

<div *ngIf="error" class="error-message">
    ⚠️ {{ error }}
</div>