<div class="register-wrapper">
    <div class="register-container" [class.blurred]="formSubmitted">
        <div class="form-header">
            <h1 class="form-title">Create Account</h1>
            <div class="form-decoration"></div>
        </div>
        <form [formGroup]="registrationForm" (ngSubmit)="register()" class="animated-form" novalidate>

            <label for="username">Username<span style="color: red;">*</span></label> <br>
            <input type="text" id="username" formControlName="username"
                   [class.invalid-input]="registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty || registrationForm.get('username')?.touched)">
            <br>
            <div *ngIf="registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty || registrationForm.get('username')?.touched)" class="error-message">
                <div *ngIf="registrationForm.get('username')?.errors?.['required']">Username is required</div>
            </div>

            <label for="email">Email<span style="color: red;">*</span></label> <br>
            <input type="email" id="email" formControlName="email"
                   [class.invalid-input]="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
            <br>
            <div *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)" class="error-message">
                <div *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required</div>
                <div *ngIf="registrationForm.get('email')?.errors?.['pattern']">Please enter a valid Gmail address (e.g., user&#64;gmail.com)</div>
            </div>

            <label for="password">Password<span style="color: red;">*</span></label> <br>
            <input type="password" id="password" formControlName="password"
                   [class.invalid-input]="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
            <br>
            <div *ngIf="registrationForm.get('password')?.hasError('required') && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)" class="error-message">
                 Password is required
            </div>
            <div *ngIf="registrationForm.get('password')?.value && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched) && !areAllConditionsMet" class="password-conditions">
                <span class="invalid-pass">Password should contain</span>
                <span [class.valid-pass]="hasUppercase" [class.invalid-pass]="!hasUppercase">one Uppercase, </span>
                <span [class.valid-pass]="hasLowercase" [class.invalid-pass]="!hasLowercase">one Lowercase, </span>
                <span [class.valid-pass]="hasDigit" [class.invalid-pass]="!hasDigit">one Digit, </span>
                <span [class.valid-pass]="hasSpecialChar" [class.invalid-pass]="!hasSpecialChar">one Special character</span>
            </div>

            <label for="confirmPassword">Confirm Password<span style="color: red;">*</span></label> <br>
            <input type="password" id="confirmPassword" formControlName="confirmPassword"
                   [class.invalid-input]="(registrationForm.get('confirmPassword')?.invalid || registrationForm.hasError('mismatch')) && (registrationForm.get('confirmPassword')?.dirty || registrationForm.get('confirmPassword')?.touched)">
            <br>
            <div *ngIf="registrationForm.get('confirmPassword')?.hasError('required') && (registrationForm.get('confirmPassword')?.dirty || registrationForm.get('confirmPassword')?.touched)" class="error-message">
                Confirm Password is required
            </div>
            <div *ngIf="registrationForm.hasError('mismatch') && (registrationForm.get('confirmPassword')?.dirty || registrationForm.get('confirmPassword')?.touched)" class="error-message">
                Passwords do not match
            </div>

            <label for="mobileNumber">Mobile Number<span style="color: red;">*</span></label> <br>
            <input type="tel" id="mobileNumber" formControlName="mobileNumber" maxlength="10" pattern="[0-9]*" inputmode="numeric"
                   [class.invalid-input]="registrationForm.get('mobileNumber')?.invalid && (registrationForm.get('mobileNumber')?.dirty || registrationForm.get('mobileNumber')?.touched)">
            <br>
            <div *ngIf="registrationForm.get('mobileNumber')?.invalid && (registrationForm.get('mobileNumber')?.dirty || registrationForm.get('mobileNumber')?.touched)" class="error-message">
                <div *ngIf="registrationForm.get('mobileNumber')?.errors?.['required']">Mobile Number is required</div>
                <div *ngIf="registrationForm.get('mobileNumber')?.errors?.['pattern']">Enter a valid 10-Digit number</div>
            </div>

            <button type="submit" [disabled]="registrationForm.invalid" class="register">Register</button>
        </form>

        <div class="footerPart">
            <p>Already have an account? <a routerLink="/login" class="gold-link">Login here</a></p>
        </div>
    </div>

    <div class="popup" *ngIf="formSubmitted" @popupAnimation>
        <div class="popup-content">
            <div class="success-check">
                <svg class="checkmark" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                </svg>
            </div>
            <p class="success-message">Registration Successful!</p>
            <button class="popup-button" (click)="closePopup()">Continue</button>
        </div>
    </div>
</div>