<div class="resetFormContainer">
  <form class="form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <p class="form-title">Reset Password</p>
    <div class="input-container">
      <input placeholder="New password" id="password" formControlName="password" type="password" [class.invalid-input]="resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)" required>
      <div *ngIf="resetForm.get('password')?.value && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched) && !areAllConditionsMet" class="password-conditions">
        <span class="invalid-pass">Password should contain</span>
        <span [class.valid-pass]="hasUppercase" [class.invalid-pass]="!hasUppercase">one Uppercase, </span>
        <span [class.valid-pass]="hasLowercase" [class.invalid-pass]="!hasLowercase">one Lowercase, </span>
        <span [class.valid-pass]="hasDigit" [class.invalid-pass]="!hasDigit">one Digit, </span>
        <span [class.valid-pass]="hasSpecialChar" [class.invalid-pass]="!hasSpecialChar">one Special character</span>
      </div>
      <small *ngIf="resetForm.get('password')?.errors?.['required']">Password is required.</small>
    </div>
    <div class="input-container">
      <input placeholder="Confirm password" id="confirmPassword" formControlName="confirmPassword" type="password" [class.invalid-input]="(resetForm.get('confirmPassword')?.invalid || resetForm.hasError('mismatch')) && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)" required>
      <div *ngIf="resetForm.get('confirmPassword')?.touched">
        <small *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</small>
      </div>
      <div *ngIf="resetForm.hasError('mismatch') && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)" class="error-message">
        Passwords do not match
      </div>
    </div>
    <button type="submit" class="submit" [disabled]="resetForm.invalid">Reset password</button>
  </form>
</div>
